{:deps {org.babashka/http-server {:mvn/version "0.1.12"}
        org.babashka/cli {:mvn/version "0.8.58"}
        io.github.borkdude/quickblog {:git/sha "caffe692c8d715b30c8851ab8210dbabb19a1785"}}
 :tasks {:init (def opts
                 {:blog-title "Eric Stewart",
                  :blog-description "Ponderings on Software, etc."
                  :page-suffix ""
                  :link-prev-next-posts true}),
         :requires ([quickblog.cli :as cli]),
         quickblog
           {:doc "Start blogging quickly! Run `bb quickblog help` for details.",
            :task (cli/dispatch opts)}}}
