---
layout: splash
header:
  overlay_color: "#5e616c"
  overlay_image: header.png
excerpt: "Software Developer, Ponderer"
feature_row:
  - title: "Ponderings"
    excerpt: "Ponderings on Software Development and the Profession of Software"
    url: "/blog/"
    btn_label: "Recent Posts"
  - title: "Recommended Resources"
    excerpt: "Resources I have found useful and recommend for software development."
    url: "/resources/"
    btn_label: "Resources"
intro:
  - excerpt: 'You should follow me! &nbsp; [<i class="fa fa-twitter"></i> @ericstewart](https://twitter.com/ericstewart){: .btn .btn--twitter}'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}


