---
layout: splash
header:
  overlay_color: "#5e616c"
  overlay_image: so-simple-sample-image-2.jpg
  caption: "Photo credit: [Michael Rose](https://mademistakes.com)"
excerpt: 'Personal site of Eric Stewart, a software developer in Austin, Texas'
feature_row:
  - title: "Blog Posts"
    excerpt: "Ponderings on Software Development and the Profession of Software"
    url: "/blog/"
    btn_label: "Recent Blog Posts"
  - title: "Recommended Resources"
    excerpt: "Built on HTML5 + CSS3. All layouts are fully responsive with helpers to augment your content."
    url: "/docs/layouts/"
    btn_label: "Learn More"
intro:
  - excerpt: 'You should follow me! &nbsp; [<i class="fa fa-twitter"></i> @ericstewart](https://twitter.com/ericstewart){: .btn .btn--twitter}'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}


