<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="application/atom+xml" rel="alternate" href="{{relative-path | safe}}atom.xml" title="{{title}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
    <!-- <link rel="stylesheet" href="{{relative-path | safe}}style.css"> -->
    <link rel="stylesheet" href="{{relative-path | safe}}style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-clojure.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-ruby.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-java.min.js"></script>
    {{watch | safe }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css">

{% if favicon-tags %}{{favicon-tags | safe}}{% endif %}

    <!-- Social sharing (Facebook, Twitter, LinkedIn, etc.) -->
    <meta name="title" content="{{title}}">
    <meta name="twitter:title" content="{{title}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
{% if sharing.description %}
    <meta name="description" content="{{sharing.description}}">
    <meta name="twitter:description" content="{{sharing.description}}">
    <meta property="og:description" content="{{sharing.description}}">
{% endif %}
{% if sharing.url %}
    <meta name="twitter:url" content="{{sharing.url}}">
    <meta property="og:url" content="{{sharing.url}}">
{% endif %}
{% if sharing.image %}
    <meta name="twitter:image" content="{{sharing.image}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{sharing.image}}">
    <meta property="og:image:alt" content="{{sharing.image-alt}}">
{% else %}
    <meta name="twitter:card" content="summary">
{% endif %}
{% if sharing.author %}
    <meta name="twitter:creator" content="{{sharing.author}}">
{% endif %}
{% if sharing.twitter-handle %}
    <meta name="twitter:site" content="{{sharing.twitter-handle}}">
{% endif %}
  </head>
  <body class="flex h-full">
      <div class="max-w-[50rem] flex flex-col mx-auto size-full">
      <header class="mb-auto flex flex-wrap">
      <nav class="navbar bg-base-100">
          <div class="navbar-start">
              <div class="dropdown">
                  <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>

                  </div>
                  <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                      <li>
                          <a href="{{relative-path | safe}}archive{{page-suffix}}">Home</a>
                      </li>
                      <li>
                          <a href="{{relative-path | safe}}tags/index.html">Tags</a>
                      </li>
                      {% if discuss-link %}

                      <li>
                          <a href="{{discuss-link}}#">Discuss</a>
                      </li>
                      {% endif %}
                      <li>
                          <a href="{{relative-path | safe}}atom.xml">Feed</a>
                      </li>
	                    {% if twitter-handle %}
                      <li>
                          <a href="https://twitter.com/{{twitter-handle}}">Twitter</a>
                      </li>
	                    {% endif %}
	                    {% if about-link %}
                      <li>
                          <a href="{{about-link}}">About</a>
                      </li>
	                    {% endif %}
                  </ul>
              </div>
              <a href="{{relative-path | safe}}index.html" class="btn btn-ghost text-xl">{{blog-title}}</a>
              <br/>
	            <span class="self-center">{{blog-description}}</span>
          </div>
          <div class="navbar-center hidden lg:flex">
              <ul class="menu menu-horizontal px-1">
                  <li>
                      <a href="{{relative-path | safe}}archive{{page-suffix}}">Archive</a>
                  </li>
                  <li>
                      <a href="{{relative-path | safe}}tags/index.html">Tags</a>
                  </li>
                  {% if discuss-link %}

                  <li>
                      <a href="{{discuss-link}}#">Discuss</a>
                  </li>
                  {% endif %}
                  <li>
                      <a href="{{relative-path | safe}}atom.xml">Feed</a>
                  </li>
	                {% if twitter-handle %}
                  <li>
                      <a href="https://twitter.com/{{twitter-handle}}">Twitter</a>
                  </li>
	                {% endif %}
	                {% if about-link %}
                  <li>
                      <a href="{{about-link}}">About</a>
                  </li>
	                {% endif %}
              </ul>
          </div>
      </nav>
      </header>
      <!-- <div class="site-header">
           <div class="wrapper"> -->
              <!-- <div class="site-nav">
                   <a class="page-link" href="{{relative-path | safe}}archive{{page-suffix}}">Archive</a>
                   <a class="page-link" href="{{relative-path | safe}}tags/index.html">Tags</a>
                   {% if discuss-link %}<a class="page-link" href="{{discuss-link}}">Discuss</a>{% endif %}
	                 <a class="page-link" href="{{relative-path | safe}}atom.xml">
                   Feed
                   </a>
	                 {% if twitter-handle %}
	                 <a class="page-link" href="https://twitter.com/{{twitter-handle}}">
                   Twitter
                   </a>
	                 {% endif %}
	                 {% if about-link %}
	                 <a class="page-link" href="{{about-link}}">About</a>
	                 {% endif %}
                   </div> -->
      <!-- <div>
           <h1 class="site-title text-3xl font-bold underline">
           <a class="page-link" href="{{relative-path | safe}}index.html">{{blog-title}}</a>
           </h1>
	         <p>{{blog-description}}</p>
           </div>
           </div>
           </div> -->

      <main class="container mx-auto px-8">
          <div class="gap-8 columns-1">
              {{body | safe }}
          </div>

          {% if not skip-archive %}
          <div style="margin-bottom: 20px; float: right;">
              <a class="link" href="{{relative-path | safe}}archive{{page-suffix}}">Archive</a>
          </div>
          {% endif %}
      </main>
      </div>
  </body>
</html>
